body {

  font-family: $base-font;
  font-size: 14px;
  line-height: 1.7;
  color:$gray-dark;
  
  
}
#wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;

}
.container {

	max-width: 960px;
	
}
